.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.fullmap {
  height: 100%;
  flex: 1 1 auto;
  align-self: auto;
  order: 1;
}

.sidebar {
  height: 100%;
  flex: 0 0 360px;
  align-self: auto;
  order: 0;
}

@media screen and (max-width: 768px) {
  .home {
    display: block;
    height: inherit;
  }

  .fullmap {
    height: 60%;
    flex: none;
  }

  .sidebar {
    height: auto;
    flex: none;
  }
}
