.publisher {
  margin-bottom: 1em;
}

.publisher label {
  margin-top: 1.4em;
  margin-bottom: 0;
  font-weight: bold;
}

.publisher input[type=text] {
  width: 100%;
  padding: .6em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.publisher input[type=submit] {
  padding: .3em .6em;
  background-color: #3d8cdb;
  color: #fff;
}

.publisher input[type=button] {
  font-size: 0.9em;
  padding: .2em .6em;
  background-color: #fff;
  color: #444; 
  border: 1px solid #444;
  vertical-align: bottom;
}
