.sidebar {
	height: 100%;
  background-color: #fff;
  padding: 14px;
  overflow-y: auto;
}

.logo img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.logo {
  height: 52px;
  font-size: 24px;
}

.logo a, .logo a:hover, .logo a:active, .logo a:visited {
  color: #444;
}

.signin {
  text-align: center;
  margin-top: 3em;
}

input[type=button], input[type=submit] {
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
}

.signin input {
  background-color: rgb(35, 13, 46);
  color: #fff;
  margin-top: 2em;
  padding: .6em 1em;
}

.entries {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
