.sidebar {
	height: 100%;
  background-color: #fff;
  padding: 14px;
  overflow-y: auto;
}

.logo img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.logo {
  height: 52px;
  font-size: 24px;
}

.signin {
  text-align: center;
  margin-top: 3em;
}

input[type=button], input[type=submit] {
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
}

.signin input {
  background-color: rgb(35, 13, 46);
  color: #fff;
  margin-top: 2em;
  padding: .6em 1em;
}

.publisher {
  margin-bottom: 1em;
}

.publisher input[type=text] {
  width: 100%;
  padding: .6em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.geo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.geo div:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  padding-right: .5em;
}

.geo input:nth-child(2) {
  order: 1;
  flex: 0 1 auto;
  align-self: auto;
}

.publisher input[type=submit] {
  padding: .3em .6em;
  background-color: #3d8cdb;
  color: #fff;
}

.entries {
  border-top: 1px solid #eee;
  padding-top: 1em;
}
